/* link Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');


/* General Styles */
:root
{
    --color-primary:  #1E3678; 
    --color-primary-variant: #FF2E4C;
    --color-second: #FF546E; 
    --color-success: #6c63ff; 
    --color-warning: #f7c94b; 
    --color-danger: #f75842;
    --color-danger2: #931637;
    --color-danger-variant: rgba(247, 88, 66, .4); 
    --color-white: #fff; 
    --color-light: rgba(255, 255, 255, .7);
    --color-black: #000; 
    --color-bg: #162756; 
    --color-bg1: #3159C5; 
    --color-bg2: #6181D7;
    
    --container-width-lg: 76%; 
    --container-width-md: 90%; 
    --container-width-sm: 94%; 

    --transition: all 400ms ease; 
}

* 
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0; 
    list-style: none;
    text-decoration: none;
    transition: all .2s linear;
}

body 
{
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    color: var(--color-white);  
    background: linear-gradient(100deg, var(--color-primary), var(--color-bg), 
                                var(--color-bg1));
    background-size: 500%;
    animation: animate_background 10s infinite; 
}

body, html
{
  overflow-x: hidden;
}

.container
{
    width: var(--container-width-lg);
    margin: 0 auto;
}

section {
    padding: 6rem 0;
}

section h2
{
    text-align: center;
    margin-bottom: 4rem;
}

h1,
h2,
h3,
h4,
h5
{
    line-height: 1.2;
}

h1 
{
    font-size: 2.4rem;
}

h2
{
    font-size: 2rem;
}

h3
{
    font-size: 1.6rem;
}

h4
{
    font-size: 1.3rem;
}

a 
{
    color: var(--color-black);
}

img
{
    width: 100%;
    display: block;
    object-fit: cover;
}

.btn
{
    display: inline-block;
    color: var(--color-white);
    background: linear-gradient(90deg, var(--color-primary), var(--color-primary-variant)); 
    padding: 10px 34px;
    margin: 1.5px 0;
    border-radius: 40px; 
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px; 
    transition: .5s;
}

.btn:hover
{
    color: var(--color-white);
    border-color: var(--color-white);
    box-shadow: 0 0 50px var(--color-white);
    transition-delay: .2s;
}

.btn_primary
{
    background: linear-gradient(90deg, var(--color-bg2), var(--color-bg)); 
    color: var(--color-white); 
}

/* Sections Nav */
nav
{
    background: transparent; 
    width: 100vw;
    height: 6.75rem;
    position: fixed;
    top: 0;
    z-index: 11;
}

/* Change navbar Styles */
.window-scroll {
  background-color: var(--color-bg2);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.nav_container
{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo
{
    width: 15rem;
    height: 7rem;
    margin-top: .75rem;
} 

.nav_container a
{
    transition: all 3s ease;
    text-decoration: none;
}

.nav_container a:hover
{
    color: var(--color-white);
}

/* FullScreen Nav */
#nav-toggler
{
  -webkit-appearance: none;
  position: fixed;
  top:35px; right:50px;
  cursor: pointer;
  z-index: 1010;
  font-size: 2rem;
}

#nav-toggler:checked
{
  transform: rotate(180deg);
}

#nav-toggler:checked::before
{
  content: '\f00d';
  color:#fff;
  transition: .2s linear .2s;
}

#nav-toggler:checked ~ .navbar
{
  left:0;
}

.navbar
{
  position: fixed;
  top:0; left:-110%;
  height: 100%;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: column;
  padding:0 10%;
  text-transform: uppercase;
}

.navbar a
{
  font-size: 4em;
  color:transparent;
  -webkit-text-stroke: .5px rgba(255,255,255,.5);
  font-weight: bolder;
  position: relative;
  letter-spacing: 3px;
}

.navbar a::before
{
  content: attr(data-text);
  position: absolute;
  top:0; left:0;
  color:rgba(255,255,255,.9);
  transition: .3s linear;
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.navbar a:hover::before
{
  clip-path: polygon(0 0, 100% 0, 99% 100%, 0 100%);
}

.background-image
{
  position: absolute;
  top:0; left:0;
  height: 100%;
  width: 100%;
  background: url(../images/nav_image_home.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.navbar a:hover:nth-child(2) ~ .background-image
{
  background: url(../images/nav_image_about.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.navbar a:hover:nth-child(3) ~ .background-image
{
  background: url(../images/nav_image_courses.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.navbar a:hover:nth-child(4) ~ .background-image
{
  background: url(../images/nav_image_contact.png) no-repeat;
  background-size: cover;
  background-position: center;
}

/* Scroll Bar */
::-webkit-scrollbar
{
    width: .8rem;
    border-radius: .5rem;
    background-color: var(--color-bg);
    color: var(--color-bg2);
}

::-webkit-scrollbar-thumb
{
  background-color: var(--color-bg1);
  color: var(--color-bg1);
}

::-webkit-scrollbar-thumb:hover
{
  background-color: var(--color-bg2);
  color: var(--color-bg2);  
}


/* Sections Header */
header
{
  position: relative; 
  top: 7rem;
  overflow: hidden;
  height: 70vh;
  margin-bottom: 5rem;
}

.header_container
{
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  align-items: center;
  gap: 5rem;
  height: 100%;
}

.header_container img 
{
  height: 25rem;
}

.header_left p
{
  margin: 1rem 0 1rem;
}

/* Section About me */
.about_primary
{
  margin-top: 3rem;
}

.about_primary-container  
{
  display: grid;
  grid-template-columns: 40% 60% ;
  gap: 5rem;
}

.about_primary-right > p 
{
  margin: 1.6rem 0 2.5rem;
}

.about_primary-left img
{
  height: 25rem; 
}

.primary_cards
{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.primary_card 
{
  background: var(--color-bg2);
  padding: 1.6rem;
  border-radius: 1rem;
  text-align: center;
  transition: var(--transition);
}

.primary_card:hover 
{
  background: var(--color-bg);
  box-shadow: 0 3rem 3rem rgba(0, 0, 0, .3); 
} 

.primary_icon   
{
  background: var(--color-danger2);
  padding: .6rem 1.2rem .6rem; 
  border-radius: 1rem;
  display: inline-block;
  margin-bottom: 1rem; 
  font-size: 1.5rem;
}

.primary_card:nth-child(2) .primary_icon 
{
  background: var(--color-danger);
}

.primary_card:nth-child(3) .primary_icon 
{
  background: var(--color-warning);
}

/* Sections About me end */

/* Sections Team */
.team
{
  background: var(--color-bg);
  box-shadow: inset 0 0 3rem rgba(0, 0, 0, .5);
}

.team > p
{
  margin-bottom: 2rem; 
  text-align: center;
  text-decoration: overline; 
}

.team_container 
{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.team_member 
{
  background: linear-gradient(45deg, var(--color-bg), var(--color-bg1));
  padding: 1.5rem;
  border: 1px solid transparent;
  border-radius: 1rem; 
  transition: var(--transition);
  position: relative;
}

.team_member:hover 
{
  background: transparent;
  border-color: var(--color-white); 
}

.team_member-img img
{
  filter: saturate(0);
  width: 80%;
  margin-left: 1.3rem;
}

.team_member:hover img 
{
  filter: saturate(1); 
}

.team_member-info * 
{
  text-align: center;
  margin-top: 1rem; 
}

.team_member-info p
{
  color: var(--color-light); 
}

.team_member_socials
{
  position: absolute;
  top: 20%;
  transform: translateY(-30%); 
  transition: var(--transition);
  right: -80%;
  display: flex;
  flex-direction: column;
  font-size: 1.1rem; 
  background: var(--color-second);
  border-radius: 1rem 0 1rem;
  box-shadow: -2rem 0 2rem rgba(0, 0, 0, .3); 
}

.team_member_socials i:hover
{
  color: var(--color-light);
}

.team_member:hover .team_member_socials
{
  right: 0; 
}

.team_member_socials a
{
  padding: 1rem; 
}

/*Section Team end*/


/*Sections Footer*/
footer 
{
  background: var(--color-bg);
  padding-top: 4rem;
  font-size: .9rem;
}

.footer_container 
{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
}

.footer_container > div h4
{
  margin-bottom: 1.2rem;
  color: var(--color-black);
}

.footer_one p
{
  margin: 0 0 2rem;
}

footer ul li 
{
  margin-bottom: .7rem;
}

footer ul li a:hover
{
  text-decoration: underline;
  color: var(--color-white);
}

.footer_socials
{
    display: flex;
    justify-content: center;
    column-gap: 1.25rem;    
}

.footer_social_links
{
    background-color: var(--color-bg);
    color: var(--color-danger2);
    padding: .3rem;
    border-radius: .25rem;
    font-size: 1.25rem;
    display: inline-flex;
}

.footer_copyright
{
  text-align: center;
  margin-top: 2rem;
  padding: 1.2rem 0;
  border-top: 3px solid var(--color-bg2);
}
/* Sections Footer end */


/* Animate Background */
@keyframes animate_background 
{
  0% 
  {
    background-position: 0% 50%;
  }
  50% 
  {
    background-position: 100% 50%;
  }
  100%
  {
    background-position: 0% 50%;
  }
}

/* Responsive Media Queries */
@media screen and (max-width: 1024px)
{
  .container
  {
    width: var(--container-width-md);
  }

  h1 
  {
    font-size: 2.2rem;
  }

  h2 
  {
    font-size: 1.7rem;
  }

  h3 
  {
    font-size: 1.4rem;
  }

  h4 
  {
    font-size: 1.2rem;
  }

  nav 
  {
    height: 5.75rem;
  }

  #nav-toggler
  {
    font-size: 1.75rem;
  }

  .nav_container
  {
      height: 90%;
  }

  .nav_logo
  {
      width: 12rem;
      height: 5rem;
  } 

  .header_container
  {
    gap: 0;
    padding-bottom: 3rem;
  }

  .about_primary
  {
    margin-top: 2rem;
  }

  .about_primary-container
  {
    grid-template-columns: 1fr;
    gap: 4rem;
  }

  .about_primary-left
  {
    width: 80%; 
    margin: 0 auto;
  }

  .team_container
  {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }

  .team_member
  {
    padding: 1rem; 
  }

  .team_member_socials
  {
    font-size: 1rem;
    box-shadow: -1rem 0 1rem rgba(0, 0, 0, .3); 
    top: 14%;
  }

  .footer_container
  {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 600px) 
{
  .container
  {
    width: var(--container-width-sm);
  }

  header 
  {
    height: 100vh;
  }

  .header_container
  {
    grid-template-columns: 1fr;
    text-align: center;
    margin-top: 0; 
  }

  .header_left p
  {
    margin-bottom: 1.3rem;
  }

  .primary_cards
  {
    grid-template-columns: 1fr 1fr;
    gap: .7rem; 
  }  

  .team_container
  {
    grid-template-columns: 1fr 1fr;
    gap: .7rem; 
  }

  .team_member
  {
    padding: 0;
  }

  .team_member p
  {
    margin-bottom: 1.5rem; 
  }

  .footer_container
  {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 2rem;
  }
}

/*Navbar media querys personalized*/
@media (max-width:768px)
{
  .navbar a{
    font-size: 3rem;
  }
}

@media (max-width:450px){
  .navbar a{
    font-size: 2rem;
  }
}